### 1.1 Libraries

In [71]:
import numpy as np
import pandas as pd
import math

# display all columns
pd.set_option('display.max_columns', None)

pd.options.display.float_format = '{:.2f}'.format
# pd.set_option('display.max_columns', 30) #can specify for rows too, and change number to maximum you want

In [72]:
# Creating reference df
#specify datatypes
variable_types = {'Geo.id': 'str', 'GEO.id2': 'str'}

# avoid renaming most columns, specify a reference dataset
# call in the dataset
ref = pd.read_csv('G:\My Drive\Data\Race Eth ACS 2017\Original_Data\ACS_17_5YR_B03002_with_ann.csv', delimiter = ',', dtype=variable_types)

# truncate the dataset, to two lines. column name and descriptions.
ref = ref.head(3)

In [73]:
ref

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11,HD01_VD12,HD02_VD12,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,HD01_VD18,HD02_VD18,HD01_VD19,HD02_VD19,HD01_VD20,HD02_VD20,HD01_VD21,HD02_VD21
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Not Hispanic or Latino:,Margin of Error; Not Hispanic or Latino:,Estimate; Not Hispanic or Latino: - White alone,Margin of Error; Not Hispanic or Latino: - Whi...,Estimate; Not Hispanic or Latino: - Black or A...,Margin of Error; Not Hispanic or Latino: - Bla...,Estimate; Not Hispanic or Latino: - American I...,Margin of Error; Not Hispanic or Latino: - Ame...,Estimate; Not Hispanic or Latino: - Asian alone,Margin of Error; Not Hispanic or Latino: - Asi...,Estimate; Not Hispanic or Latino: - Native Haw...,Margin of Error; Not Hispanic or Latino: - Nat...,Estimate; Not Hispanic or Latino: - Some other...,Margin of Error; Not Hispanic or Latino: - Som...,Estimate; Not Hispanic or Latino: - Two or mor...,Margin of Error; Not Hispanic or Latino: - Two...,Estimate; Not Hispanic or Latino: - Two or mor...,Margin of Error; Not Hispanic or Latino: - Two...,Estimate; Not Hispanic or Latino: - Two or mor...,Margin of Error; Not Hispanic or Latino: - Two...,Estimate; Hispanic or Latino:,Margin of Error; Hispanic or Latino:,Estimate; Hispanic or Latino: - White alone,Margin of Error; Hispanic or Latino: - White a...,Estimate; Hispanic or Latino: - Black or Afric...,Margin of Error; Hispanic or Latino: - Black o...,Estimate; Hispanic or Latino: - American India...,Margin of Error; Hispanic or Latino: - America...,Estimate; Hispanic or Latino: - Asian alone,Margin of Error; Hispanic or Latino: - Asian a...,Estimate; Hispanic or Latino: - Native Hawaiia...,Margin of Error; Hispanic or Latino: - Native ...,Estimate; Hispanic or Latino: - Some other rac...,Margin of Error; Hispanic or Latino: - Some ot...,Estimate; Hispanic or Latino: - Two or more ra...,Margin of Error; Hispanic or Latino: - Two or ...,Estimate; Hispanic or Latino: - Two or more ra...,Margin of Error; Hispanic or Latino: - Two or ...,Estimate; Hispanic or Latino: - Two or more ra...,Margin of Error; Hispanic or Latino: - Two or ...
1,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",2991,194,2878,196,2070,208,84,60,0,12,484,166,0,12,77,62,163,83,17,20,146,78,113,61,62,45,0,12,0,12,7,11,0,12,44,31,0,12,0,12,0,12
2,1400000US06001400200,06001400200,"Census Tract 4002, Alameda County, California",1997,96,1820,116,1424,129,18,20,5,7,196,66,0,12,5,9,172,70,0,12,172,70,177,80,108,65,0,12,0,12,7,9,0,12,9,10,53,35,0,12,53,35

In [74]:
# creating primary df
#specify datatypes so FIPS numbers, etc. read in properly
variable_types = {'Geo.id': 'str', 'GEO.id2': 'str'}

df = pd.read_csv('G:\My Drive\Data\Race Eth ACS 2017\Original_Data\ACS_17_5YR_B03002_with_ann.csv', delimiter = ',', header=[0], skiprows=[1], dtype=variable_types)
#specify dtype with variable_types we created above

In [75]:
df.head(1)

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11,HD01_VD12,HD02_VD12,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,HD01_VD18,HD02_VD18,HD01_VD19,HD02_VD19,HD01_VD20,HD02_VD20,HD01_VD21,HD02_VD21
0,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",2991,194,2878,196,2070,208,84,60,0,12,484,166,0,12,77,62,163,83,17,20,146,78,113,61,62,45,0,12,0,12,7,11,0,12,44,31,0,12,0,12,0,12

In [76]:
# dropping columns by location
df = df.iloc[:, 0:27:1] # selecting the first 28 columns

In [77]:
# dropping columns
df = df.drop(df.iloc[:, 2:27:2], axis = 1) # # dropping columns beginning at 2 and moving to 28 
df=df.drop(['HD01_VD10','HD01_VD11'], axis = 1) #Dropping these columns HD01_VD10, HD01_VD11 they dont sum to total pop

In [78]:
df.dtypes

GEO.id       object
GEO.id2      object
HD01_VD01     int64
HD01_VD02     int64
HD01_VD03     int64
HD01_VD04     int64
HD01_VD05     int64
HD01_VD06     int64
HD01_VD07     int64
HD01_VD08     int64
HD01_VD09     int64
HD01_VD12     int64
dtype: object

In [79]:
ref = ref.iloc[:, 0:27:1] # selecting the first 28 columns
# dropping all MOEs
ref = ref.drop(ref.iloc[:, 2:27:2], axis = 1) # dropping columns
ref=ref.drop(['HD01_VD10','HD01_VD11'], axis = 1)  #Dropping these columns HD01_VD10, HD01_VD11 they dont sum to total pop

In [80]:
ref

,GEO.id,GEO.id2,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,HD01_VD08,HD01_VD09,HD01_VD12
0,Id,Id2,Estimate; Total:,Estimate; Not Hispanic or Latino:,Estimate; Not Hispanic or Latino: - White alone,Estimate; Not Hispanic or Latino: - Black or A...,Estimate; Not Hispanic or Latino: - American I...,Estimate; Not Hispanic or Latino: - Asian alone,Estimate; Not Hispanic or Latino: - Native Haw...,Estimate; Not Hispanic or Latino: - Some other...,Estimate; Not Hispanic or Latino: - Two or mor...,Estimate; Hispanic or Latino:
1,1400000US06001400100,06001400100,2991,2878,2070,84,0,484,0,77,163,113
2,1400000US06001400200,06001400200,1997,1820,1424,18,5,196,0,5,172,177

In [81]:
# ref = ref.head(3)
# ref.to_csv(r'G:\My Drive\Data\Race Eth ACS 2017\Est_Header_2.csv')

### Creating Other Racial Category:

Aggregating the racial categories in order to analyze only Black, Asian, Latino, and White groups. The following will be considered "Other agg variable":  

    -American Indian and Alaska Native alone 
    
    -Native Hawaiian and Other Pacific Islander
    
    -Some other race alone

    -Two or more races


Variable names:     HD01_VD05, HD01_VD07, HD01_VD08, HD01_VD09

In [82]:
# manually calculating estimates for other racial categories
df["Other_agg"] = (df["HD01_VD05"] + 
                                        df["HD01_VD07"] + 
                                        df["HD01_VD08"] + 
                                        df["HD01_VD09"])

In [83]:
df

,GEO.id,GEO.id2,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,HD01_VD08,HD01_VD09,HD01_VD12,Other_agg
0,1400000US06001400100,06001400100,2991,2878,2070,84,0,484,0,77,163,113,240
1,1400000US06001400200,06001400200,1997,1820,1424,18,5,196,0,5,172,177,182
2,1400000US06001400300,06001400300,5123,4738,3431,482,0,500,42,0,283,385,325
3,1400000US06001400400,06001400400,3991,3614,2625,238,11,484,0,0,256,377,267
4,1400000US06001400500,06001400500,3944,3537,2105,951,0,220,31,16,214,407,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,1400000US06115040800,06115040800,4508,3720,3263,5,31,147,42,8,224,788,305
8053,1400000US06115040901,06115040901,3080,2496,2067,7,48,248,2,0,124,584,174
8054,1400000US06115040902,06115040902,1530,1248,836,136,4,114,0,0,158,282,162
8055,1400000US06115041000,06115041000,7365,6599,5753,336,94,199,0,0,217,766,311
8056,1400000US06115041100,06115041100,4365,4086,3635,79,35,33,0,8,296,279,339

In [84]:
# renaming columns
df.rename(columns={"HD01_VD01" : "Total",
                    "HD01_VD02" : "Not_Latino",
                    "HD01_VD03" : "White",
                    "HD01_VD04" : "Black",
                    "HD01_VD05" : "Native",
                    "HD01_VD06" : "Asian",
                    "HD01_VD07" : "API",
                    "HD01_VD08" : "Other",
                    "HD01_VD09" : "Two_plus",
                    "HD01_VD12" : "Latino"}, inplace=True)

In [85]:
# creating a table with estimates only or whole numbers. 
df_est = df

In [86]:
df.head(1)

,GEO.id,GEO.id2,Total,Not_Latino,White,Black,Native,Asian,API,Other,Two_plus,Latino,Other_agg
0,1400000US06001400100,06001400100,2991,2878,2070,84,0,484,0,77,163,113,240

In [87]:
df.columns

Index(['GEO.id', 'GEO.id2', 'Total', 'Not_Latino', 'White', 'Black', 'Native',
       'Asian', 'API', 'Other', 'Two_plus', 'Latino', 'Other_agg'],
      dtype='object')

In [88]:
df_pct_cols = ['GEO.id2', 'Total', 'Not_Latino', 'White', 'Black', 'Native',
       'Asian', 'API', 'Other', 'Two_plus', 'Latino', 'Other_agg']

In [89]:
df_pct = df[df_pct_cols]
df_pct.head(2)

,GEO.id2,Total,Not_Latino,White,Black,Native,Asian,API,Other,Two_plus,Latino,Other_agg
0,06001400100,2991,2878,2070,84,0,484,0,77,163,113,240
1,06001400200,1997,1820,1424,18,5,196,0,5,172,177,182

In [90]:
df_pct.set_index('GEO.id2', inplace=True)

In [91]:
df_pct

,Total,Not_Latino,White,Black,Native,Asian,API,Other,Two_plus,Latino,Other_agg
GEO.id2,,,,,,,,,,,
06001400100,2991,2878,2070,84,0,484,0,77,163,113,240
06001400200,1997,1820,1424,18,5,196,0,5,172,177,182
06001400300,5123,4738,3431,482,0,500,42,0,283,385,325
06001400400,3991,3614,2625,238,11,484,0,0,256,377,267
06001400500,3944,3537,2105,951,0,220,31,16,214,407,261
...,...,...,...,...,...,...,...,...,...,...,...
06115040800,4508,3720,3263,5,31,147,42,8,224,788,305
06115040901,3080,2496,2067,7,48,248,2,0,124,584,174
06115040902,1530,1248,836,136,4,114,0,0,158,282,162
06115041000,7365,6599,5753,336,94,199,0,0,217,766,311
06115041100,4365,4086,3635,79,35,33,0,8,296,279,339

In [92]:
#creating a new dataframe with percentages of estimates. 
df_pct = df_pct.iloc[:, 1:11:1].div(df_pct.Total, axis=0)
df_pct.head(1)

,Not_Latino,White,Black,Native,Asian,API,Other,Two_plus,Latino,Other_agg
GEO.id2,,,,,,,,,,
06001400100,0.96,0.69,0.03,0.00,0.16,0.00,0.03,0.05,0.04,0.08

In [93]:
# Renaming column names with a suffix
df_pct = df_pct.add_suffix('_e_pct')
df_pct

,Not_Latino_e_pct,White_e_pct,Black_e_pct,Native_e_pct,Asian_e_pct,API_e_pct,Other_e_pct,Two_plus_e_pct,Latino_e_pct,Other_agg_e_pct
GEO.id2,,,,,,,,,,
06001400100,0.96,0.69,0.03,0.00,0.16,0.00,0.03,0.05,0.04,0.08
06001400200,0.91,0.71,0.01,0.00,0.10,0.00,0.00,0.09,0.09,0.09
06001400300,0.92,0.67,0.09,0.00,0.10,0.01,0.00,0.06,0.08,0.06
06001400400,0.91,0.66,0.06,0.00,0.12,0.00,0.00,0.06,0.09,0.07
06001400500,0.90,0.53,0.24,0.00,0.06,0.01,0.00,0.05,0.10,0.07
...,...,...,...,...,...,...,...,...,...,...
06115040800,0.83,0.72,0.00,0.01,0.03,0.01,0.00,0.05,0.17,0.07
06115040901,0.81,0.67,0.00,0.02,0.08,0.00,0.00,0.04,0.19,0.06
06115040902,0.82,0.55,0.09,0.00,0.07,0.00,0.00,0.10,0.18,0.11
06115041000,0.90,0.78,0.05,0.01,0.03,0.00,0.00,0.03,0.10,0.04
06115041100,0.94,0.83,0.02,0.01,0.01,0.00,0.00,0.07,0.06,0.08

In [94]:
#Joining the estimates with the estimates percentage based on index values. 
df2 = df.join(df_pct, on='GEO.id2')
df2

,GEO.id,GEO.id2,Total,Not_Latino,White,Black,Native,Asian,API,Other,Two_plus,Latino,Other_agg,Not_Latino_e_pct,White_e_pct,Black_e_pct,Native_e_pct,Asian_e_pct,API_e_pct,Other_e_pct,Two_plus_e_pct,Latino_e_pct,Other_agg_e_pct
0,1400000US06001400100,06001400100,2991,2878,2070,84,0,484,0,77,163,113,240,0.96,0.69,0.03,0.00,0.16,0.00,0.03,0.05,0.04,0.08
1,1400000US06001400200,06001400200,1997,1820,1424,18,5,196,0,5,172,177,182,0.91,0.71,0.01,0.00,0.10,0.00,0.00,0.09,0.09,0.09
2,1400000US06001400300,06001400300,5123,4738,3431,482,0,500,42,0,283,385,325,0.92,0.67,0.09,0.00,0.10,0.01,0.00,0.06,0.08,0.06
3,1400000US06001400400,06001400400,3991,3614,2625,238,11,484,0,0,256,377,267,0.91,0.66,0.06,0.00,0.12,0.00,0.00,0.06,0.09,0.07
4,1400000US06001400500,06001400500,3944,3537,2105,951,0,220,31,16,214,407,261,0.90,0.53,0.24,0.00,0.06,0.01,0.00,0.05,0.10,0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,1400000US06115040800,06115040800,4508,3720,3263,5,31,147,42,8,224,788,305,0.83,0.72,0.00,0.01,0.03,0.01,0.00,0.05,0.17,0.07
8053,1400000US06115040901,06115040901,3080,2496,2067,7,48,248,2,0,124,584,174,0.81,0.67,0.00,0.02,0.08,0.00,0.00,0.04,0.19,0.06
8054,1400000US06115040902,06115040902,1530,1248,836,136,4,114,0,0,158,282,162,0.82,0.55,0.09,0.00,0.07,0.00,0.00,0.10,0.18,0.11
8055,1400000US06115041000,06115041000,7365,6599,5753,336,94,199,0,0,217,766,311,0.90,0.78,0.05,0.01,0.03,0.00,0.00,0.03,0.10,0.04
8056,1400000US06115041100,06115041100,4365,4086,3635,79,35,33,0,8,296,279,339,0.94,0.83,0.02,0.01,0.01,0.00,0.00,0.07,0.06,0.08

In [95]:
df2.dtypes

GEO.id               object
GEO.id2              object
Total                 int64
Not_Latino            int64
White                 int64
Black                 int64
Native                int64
Asian                 int64
API                   int64
Other                 int64
Two_plus              int64
Latino                int64
Other_agg             int64
Not_Latino_e_pct    float64
White_e_pct         float64
Black_e_pct         float64
Native_e_pct        float64
Asian_e_pct         float64
API_e_pct           float64
Other_e_pct         float64
Two_plus_e_pct      float64
Latino_e_pct        float64
Other_agg_e_pct     float64
dtype: object

#### Export here for parsed dataset

In [96]:
# df2.to_csv(r'G:\My Drive\Data\Race Eth ACS 2017\Exports\Estimates_export.csv')

##### Creating a headers data set for reference only

In [97]:
#specify datatypes so FIPS numbers, etc. read in properly
variable_types = {'Geo.id': 'str', 'GEO.id2': 'str'}

# avoid renaming most columns, specify a reference dataset
# call in the dataset
ref = pd.read_csv('G:\My Drive\Data\Race Eth ACS 2017\Original_Data\ACS_17_5YR_B03002_with_ann.csv', delimiter = ',', dtype=variable_types)

# truncate the dataset, to two lines. column name and descriptions.
ref = ref.head(3)

In [98]:
#specify datatypes so FIPS numbers, etc. read in properly
variable_types = {'Geo.id': 'str', 'GEO.id2': 'str'}

df_m= pd.read_csv('G:\My Drive\Data\Race Eth ACS 2017\Original_Data\ACS_17_5YR_B03002_with_ann.csv', delimiter = ',', header=[0], skiprows=[1], dtype=variable_types)
#specify dtype with variable_types we created above

In [99]:
df_m.head(1)

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11,HD01_VD12,HD02_VD12,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17,HD01_VD18,HD02_VD18,HD01_VD19,HD02_VD19,HD01_VD20,HD02_VD20,HD01_VD21,HD02_VD21
0,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",2991,194,2878,196,2070,208,84,60,0,12,484,166,0,12,77,62,163,83,17,20,146,78,113,61,62,45,0,12,0,12,7,11,0,12,44,31,0,12,0,12,0,12

In [100]:
df_m= df_m.iloc[:, 0:28:1] # selecting the first 28 columns

In [101]:
# dropping all MOEs
df_m= df_m.drop(df_m.iloc[:, 3:28:2], axis = 1) # # dropping columns
df_m= df_m.drop(['HD02_VD10','HD02_VD11'], axis = 1) #Dropping these columns HD02_VD10, HD02_VD11 they dont sum to total pop

In [102]:
#df_m.dtypes

In [103]:
ref = ref.iloc[:, 0:28:1] # selecting the first 28 columns
# dropping all Estimates
ref = ref.drop(ref.iloc[:, 3:28:2], axis = 1) # # dropping columns
ref = ref.drop(['HD02_VD10','HD02_VD11'], axis = 1) #Dropping these columns 
ref

,GEO.id,GEO.id2,GEO.display-label,HD02_VD01,HD02_VD02,HD02_VD03,HD02_VD04,HD02_VD05,HD02_VD06,HD02_VD07,HD02_VD08,HD02_VD09,HD02_VD12
0,Id,Id2,Geography,Margin of Error; Total:,Margin of Error; Not Hispanic or Latino:,Margin of Error; Not Hispanic or Latino: - Whi...,Margin of Error; Not Hispanic or Latino: - Bla...,Margin of Error; Not Hispanic or Latino: - Ame...,Margin of Error; Not Hispanic or Latino: - Asi...,Margin of Error; Not Hispanic or Latino: - Nat...,Margin of Error; Not Hispanic or Latino: - Som...,Margin of Error; Not Hispanic or Latino: - Two...,Margin of Error; Hispanic or Latino:
1,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",194,196,208,60,12,166,12,62,83,61
2,1400000US06001400200,06001400200,"Census Tract 4002, Alameda County, California",96,116,129,20,7,66,12,9,70,80

##### Export headers dataset

In [104]:
# exporting excel file to review headers
# ref = ref.head(3)
# ref.to_csv(r'G:\My Drive\Data\Race Eth ACS 2017\MOE_Header_.csv')

###### Creating Margin of Error Variables

In [105]:
# sum of square for MOEs
def calc_est(est):
    est_sum = np.sum(est) # sum all estimates
    return est_sum

In [106]:
# selcting columns by position, df_m.iloc[:, [7, 9, 10, 11]]
df_m['Other_Agg_MOE'] = df_m.iloc[:, [7, 9, 10, 11]].apply(calc_est, axis=1)
df_m.loc[:,'Other_Agg_MOE':].head(3)

   Other_Agg_MOE
0            169
1             98
2            288

In [107]:
# renaming columns
df_m.rename(columns={"HD02_VD01" : "Total",
                    "HD02_VD02" : "Not_Latino",
                    "HD02_VD03" : "White",
                    "HD02_VD04" : "Black",
                    "HD02_VD05" : "Native",
                    "HD02_VD06" : "Asian",
                    "HD02_VD07" : "API",
                    "HD02_VD08" : "Other",
                    "HD02_VD09" : "Two_plus",
                    "HD02_VD12" : "Latino"}, inplace=True)

In [108]:
# creating a table with MOES only. 
df_MOE = df_m

In [109]:
# Renaming column names with a suffix
df_MOE = df_MOE.add_suffix('_MOE')

In [110]:
df_MOE.head(1)

,GEO.id_MOE,GEO.id2_MOE,GEO.display-label_MOE,Total_MOE,Not_Latino_MOE,White_MOE,Black_MOE,Native_MOE,Asian_MOE,API_MOE,Other_MOE,Two_plus_MOE,Latino_MOE,Other_Agg_MOE_MOE
0,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",194,196,208,60,12,166,12,62,83,61,169

In [111]:
df_MOE = df_MOE.rename(columns = {'Other_Agg_MOE_MOE' : 'Other_Agg_MOE'})
df_MOE.head(2)

,GEO.id_MOE,GEO.id2_MOE,GEO.display-label_MOE,Total_MOE,Not_Latino_MOE,White_MOE,Black_MOE,Native_MOE,Asian_MOE,API_MOE,Other_MOE,Two_plus_MOE,Latino_MOE,Other_Agg_MOE
0,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",194,196,208,60,12,166,12,62,83,61,169
1,1400000US06001400200,06001400200,"Census Tract 4002, Alameda County, California",96,116,129,20,7,66,12,9,70,80,98

In [112]:
df_MOE_pct = df_MOE.loc[:,"Not_Latino_MOE":"Other_Agg_MOE"].div(df_MOE["Total_MOE"], axis=0)
df_MOE_pct = df_MOE_pct.add_suffix('_pct')
df_MOE_pct

,Not_Latino_MOE_pct,White_MOE_pct,Black_MOE_pct,Native_MOE_pct,Asian_MOE_pct,API_MOE_pct,Other_MOE_pct,Two_plus_MOE_pct,Latino_MOE_pct,Other_Agg_MOE_pct
0,1.01,1.07,0.31,0.06,0.86,0.06,0.32,0.43,0.31,0.87
1,1.21,1.34,0.21,0.07,0.69,0.12,0.09,0.73,0.83,1.02
2,1.07,1.08,0.48,0.05,0.53,0.21,0.05,0.60,0.55,0.92
3,1.10,1.04,0.56,0.07,0.54,0.05,0.05,0.49,0.81,0.66
4,0.99,0.96,0.77,0.04,0.36,0.15,0.06,0.32,0.58,0.57
...,...,...,...,...,...,...,...,...,...,...
8052,1.27,1.35,0.02,0.10,0.42,0.21,0.05,0.41,0.75,0.77
8053,0.99,0.94,0.02,0.09,0.27,0.02,0.04,0.25,0.46,0.39
8054,0.94,0.64,0.28,0.02,0.35,0.04,0.04,0.28,0.57,0.39
8055,1.05,1.01,0.41,0.13,0.20,0.02,0.02,0.23,0.29,0.40
8056,0.93,0.84,0.17,0.10,0.07,0.02,0.02,0.36,0.33,0.51

In [113]:
df3 = df_MOE.join(df_MOE_pct, how='inner')
df3.head(1)

,GEO.id_MOE,GEO.id2_MOE,GEO.display-label_MOE,Total_MOE,Not_Latino_MOE,White_MOE,Black_MOE,Native_MOE,Asian_MOE,API_MOE,Other_MOE,Two_plus_MOE,Latino_MOE,Other_Agg_MOE,Not_Latino_MOE_pct,White_MOE_pct,Black_MOE_pct,Native_MOE_pct,Asian_MOE_pct,API_MOE_pct,Other_MOE_pct,Two_plus_MOE_pct,Latino_MOE_pct,Other_Agg_MOE_pct
0,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",194,196,208,60,12,166,12,62,83,61,169,1.01,1.07,0.31,0.06,0.86,0.06,0.32,0.43,0.31,0.87

In [114]:
df3.drop(df3.columns[[0, 1, 2]], axis = 1, inplace = True)
df3.head(1)

,Total_MOE,Not_Latino_MOE,White_MOE,Black_MOE,Native_MOE,Asian_MOE,API_MOE,Other_MOE,Two_plus_MOE,Latino_MOE,Other_Agg_MOE,Not_Latino_MOE_pct,White_MOE_pct,Black_MOE_pct,Native_MOE_pct,Asian_MOE_pct,API_MOE_pct,Other_MOE_pct,Two_plus_MOE_pct,Latino_MOE_pct,Other_Agg_MOE_pct
0,194,196,208,60,12,166,12,62,83,61,169,1.01,1.07,0.31,0.06,0.86,0.06,0.32,0.43,0.31,0.87

In [115]:
df_final = df2.join(df3, how='inner')
df_final

,GEO.id,GEO.id2,Total,Not_Latino,White,Black,Native,Asian,API,Other,Two_plus,Latino,Other_agg,Not_Latino_e_pct,White_e_pct,Black_e_pct,Native_e_pct,Asian_e_pct,API_e_pct,Other_e_pct,Two_plus_e_pct,Latino_e_pct,Other_agg_e_pct,Total_MOE,Not_Latino_MOE,White_MOE,Black_MOE,Native_MOE,Asian_MOE,API_MOE,Other_MOE,Two_plus_MOE,Latino_MOE,Other_Agg_MOE,Not_Latino_MOE_pct,White_MOE_pct,Black_MOE_pct,Native_MOE_pct,Asian_MOE_pct,API_MOE_pct,Other_MOE_pct,Two_plus_MOE_pct,Latino_MOE_pct,Other_Agg_MOE_pct
0,1400000US06001400100,06001400100,2991,2878,2070,84,0,484,0,77,163,113,240,0.96,0.69,0.03,0.00,0.16,0.00,0.03,0.05,0.04,0.08,194,196,208,60,12,166,12,62,83,61,169,1.01,1.07,0.31,0.06,0.86,0.06,0.32,0.43,0.31,0.87
1,1400000US06001400200,06001400200,1997,1820,1424,18,5,196,0,5,172,177,182,0.91,0.71,0.01,0.00,0.10,0.00,0.00,0.09,0.09,0.09,96,116,129,20,7,66,12,9,70,80,98,1.21,1.34,0.21,0.07,0.69,0.12,0.09,0.73,0.83,1.02
2,1400000US06001400300,06001400300,5123,4738,3431,482,0,500,42,0,283,385,325,0.92,0.67,0.09,0.00,0.10,0.01,0.00,0.06,0.08,0.06,312,333,338,150,17,165,67,17,187,173,288,1.07,1.08,0.48,0.05,0.53,0.21,0.05,0.60,0.55,0.92
3,1400000US06001400400,06001400400,3991,3614,2625,238,11,484,0,0,256,377,267,0.91,0.66,0.06,0.00,0.12,0.00,0.00,0.06,0.09,0.07,250,276,261,140,18,134,12,12,122,202,164,1.10,1.04,0.56,0.07,0.54,0.05,0.05,0.49,0.81,0.66
4,1400000US06001400500,06001400500,3944,3537,2105,951,0,220,31,16,214,407,261,0.90,0.53,0.24,0.00,0.06,0.01,0.00,0.05,0.10,0.07,313,311,301,242,12,113,47,18,101,183,178,0.99,0.96,0.77,0.04,0.36,0.15,0.06,0.32,0.58,0.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,1400000US06115040800,06115040800,4508,3720,3263,5,31,147,42,8,224,788,305,0.83,0.72,0.00,0.01,0.03,0.01,0.00,0.05,0.17,0.07,302,384,407,7,31,128,62,15,125,227,233,1.27,1.35,0.02,0.10,0.42,0.21,0.05,0.41,0.75,0.77
8053,1400000US06115040901,06115040901,3080,2496,2067,7,48,248,2,0,124,584,174,0.81,0.67,0.00,0.02,0.08,0.00,0.00,0.04,0.19,0.06,322,318,304,8,28,87,5,12,79,149,124,0.99,0.94,0.02,0.09,0.27,0.02,0.04,0.25,0.46,0.39
8054,1400000US06115040902,06115040902,1530,1248,836,136,4,114,0,0,158,282,162,0.82,0.55,0.09,0.00,0.07,0.00,0.00,0.10,0.18,0.11,272,256,174,76,6,95,12,12,77,155,107,0.94,0.64,0.28,0.02,0.35,0.04,0.04,0.28,0.57,0.39
8055,1400000US06115041000,06115041000,7365,6599,5753,336,94,199,0,0,217,766,311,0.90,0.78,0.05,0.01,0.03,0.00,0.00,0.03,0.10,0.04,747,787,758,304,98,149,17,17,169,219,301,1.05,1.01,0.41,0.13,0.20,0.02,0.02,0.23,0.29,0.40
8056,1400000US06115041100,06115041100,4365,4086,3635,79,35,33,0,8,296,279,339,0.94,0.83,0.02,0.01,0.01,0.00,0.00,0.07,0.06,0.08,513,478,432,88,52,36,12,12,186,167,262,0.93,0.84,0.17,0.10,0.07,0.02,0.02,0.36,0.33,0.51

##### Done creating Margin of Error variables.

In [116]:
# manually calculating estimates for other racial categories
df_final["POC"] = (df_final['Latino'] + df_final['Black'] + 
                       df_final['Asian'] +df_final['Other_agg'])
                       
df_final["POC_e_pct"] = (df_final['Latino_e_pct'] + df_final['Black_e_pct'] + 
                       df_final['Asian_e_pct'] + df_final['Other_agg_e_pct'])

In [117]:
df_final.columns

Index(['GEO.id', 'GEO.id2', 'Total', 'Not_Latino', 'White', 'Black', 'Native',
       'Asian', 'API', 'Other', 'Two_plus', 'Latino', 'Other_agg',
       'Not_Latino_e_pct', 'White_e_pct', 'Black_e_pct', 'Native_e_pct',
       'Asian_e_pct', 'API_e_pct', 'Other_e_pct', 'Two_plus_e_pct',
       'Latino_e_pct', 'Other_agg_e_pct', 'Total_MOE', 'Not_Latino_MOE',
       'White_MOE', 'Black_MOE', 'Native_MOE', 'Asian_MOE', 'API_MOE',
       'Other_MOE', 'Two_plus_MOE', 'Latino_MOE', 'Other_Agg_MOE',
       'Not_Latino_MOE_pct', 'White_MOE_pct', 'Black_MOE_pct',
       'Native_MOE_pct', 'Asian_MOE_pct', 'API_MOE_pct', 'Other_MOE_pct',
       'Two_plus_MOE_pct', 'Latino_MOE_pct', 'Other_Agg_MOE_pct', 'POC',
       'POC_e_pct'],
      dtype='object')

In [118]:
# Selecting columns I used throughout the project. 
col_selection = ['GEO.id2', 'Total', 'White','Latino', 'POC','Black','Asian', 'Other_agg',
                 'White_e_pct', 'Latino_e_pct', 'Black_e_pct','Asian_e_pct','Other_agg_e_pct','POC_e_pct']

In [119]:
df_selection = df_final[col_selection]

In [120]:
df_selection

,GEO.id2,Total,White,Latino,POC,Black,Asian,Other_agg,White_e_pct,Latino_e_pct,Black_e_pct,Asian_e_pct,Other_agg_e_pct,POC_e_pct
0,06001400100,2991,2070,113,921,84,484,240,0.69,0.04,0.03,0.16,0.08,0.31
1,06001400200,1997,1424,177,573,18,196,182,0.71,0.09,0.01,0.10,0.09,0.29
2,06001400300,5123,3431,385,1692,482,500,325,0.67,0.08,0.09,0.10,0.06,0.33
3,06001400400,3991,2625,377,1366,238,484,267,0.66,0.09,0.06,0.12,0.07,0.34
4,06001400500,3944,2105,407,1839,951,220,261,0.53,0.10,0.24,0.06,0.07,0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,06115040800,4508,3263,788,1245,5,147,305,0.72,0.17,0.00,0.03,0.07,0.28
8053,06115040901,3080,2067,584,1013,7,248,174,0.67,0.19,0.00,0.08,0.06,0.33
8054,06115040902,1530,836,282,694,136,114,162,0.55,0.18,0.09,0.07,0.11,0.45
8055,06115041000,7365,5753,766,1612,336,199,311,0.78,0.10,0.05,0.03,0.04,0.22
8056,06115041100,4365,3635,279,730,79,33,339,0.83,0.06,0.02,0.01,0.08,0.17

In [121]:
df_selection.columns

Index(['GEO.id2', 'Total', 'White', 'Latino', 'POC', 'Black', 'Asian',
       'Other_agg', 'White_e_pct', 'Latino_e_pct', 'Black_e_pct',
       'Asian_e_pct', 'Other_agg_e_pct', 'POC_e_pct'],
      dtype='object')

In [122]:
df_selection

,GEO.id2,Total,White,Latino,POC,Black,Asian,Other_agg,White_e_pct,Latino_e_pct,Black_e_pct,Asian_e_pct,Other_agg_e_pct,POC_e_pct
0,06001400100,2991,2070,113,921,84,484,240,0.69,0.04,0.03,0.16,0.08,0.31
1,06001400200,1997,1424,177,573,18,196,182,0.71,0.09,0.01,0.10,0.09,0.29
2,06001400300,5123,3431,385,1692,482,500,325,0.67,0.08,0.09,0.10,0.06,0.33
3,06001400400,3991,2625,377,1366,238,484,267,0.66,0.09,0.06,0.12,0.07,0.34
4,06001400500,3944,2105,407,1839,951,220,261,0.53,0.10,0.24,0.06,0.07,0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8052,06115040800,4508,3263,788,1245,5,147,305,0.72,0.17,0.00,0.03,0.07,0.28
8053,06115040901,3080,2067,584,1013,7,248,174,0.67,0.19,0.00,0.08,0.06,0.33
8054,06115040902,1530,836,282,694,136,114,162,0.55,0.18,0.09,0.07,0.11,0.45
8055,06115041000,7365,5753,766,1612,336,199,311,0.78,0.10,0.05,0.03,0.04,0.22
8056,06115041100,4365,3635,279,730,79,33,339,0.83,0.06,0.02,0.01,0.08,0.17

##### Opening up lookup table to merge with the primary data frame. This will drop rows outside of the geography.

In [123]:
#specify datatypes so FIPS numbers, etc. read in properly
variable_types = {'GEOID': 'str'}

# opening up lookup table
df_lu = pd.read_csv('G:\My Drive\Data\CA Congress Dist 50\Data_Exports\CA_Congress_Lookup_50th.csv', delimiter = ',', header=[0], dtype=variable_types)

In [124]:
# dropping double index
df_lu=df_lu.drop(['FID'], axis = 1)
df_lu['CA_Con_Dist_50'] = 1

In [125]:
df_lu.rename(columns={"GEOID" : "GEO.id2"}, inplace=True)
df_lu.head(1)

       GEO.id2  CA_Con_Dist_50
0  06065051200               1

##### Merging datasets

In [126]:
result = pd.merge(df_selection, df_lu, on=['GEO.id2'])
result.head(2)

,GEO.id2,Total,White,Latino,POC,Black,Asian,Other_agg,White_e_pct,Latino_e_pct,Black_e_pct,Asian_e_pct,Other_agg_e_pct,POC_e_pct,CA_Con_Dist_50
0,06065043216,6359,3356,1792,3003,417,600,194,0.53,0.28,0.07,0.09,0.03,0.47,1
1,06065043218,5415,3561,1497,1854,74,211,72,0.66,0.28,0.01,0.04,0.01,0.34,1

In [127]:
# creating percentages
result['White_e_pct'] = result['White_e_pct']*100
result['Black_e_pct'] = result['Black_e_pct']*100
result['Asian_e_pct'] = result['Asian_e_pct']*100
result['Latino_e_pct'] = result['Latino_e_pct']*100
result['Other_agg_e_pct'] = result['Other_agg_e_pct']*100
result['POC_e_pct'] = result['POC_e_pct']*100
result.head(1)

,GEO.id2,Total,White,Latino,POC,Black,Asian,Other_agg,White_e_pct,Latino_e_pct,Black_e_pct,Asian_e_pct,Other_agg_e_pct,POC_e_pct,CA_Con_Dist_50
0,06065043216,6359,3356,1792,3003,417,600,194,52.78,28.18,6.56,9.44,3.05,47.22,1

In [128]:
result = result.drop(['CA_Con_Dist_50'], axis=1)
result

,GEO.id2,Total,White,Latino,POC,Black,Asian,Other_agg,White_e_pct,Latino_e_pct,Black_e_pct,Asian_e_pct,Other_agg_e_pct,POC_e_pct
0,06065043216,6359,3356,1792,3003,417,600,194,52.78,28.18,6.56,9.44,3.05,47.22
1,06065043218,5415,3561,1497,1854,74,211,72,65.76,27.65,1.37,3.90,1.33,34.24
2,06065043220,4480,2144,1741,2336,164,312,119,47.86,38.86,3.66,6.96,2.66,52.14
3,06065043222,4570,2963,882,1607,124,377,224,64.84,19.30,2.71,8.25,4.90,35.16
4,06065043246,5706,3592,1197,2114,172,432,313,62.95,20.98,3.01,7.57,5.49,37.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,06073021205,7073,5484,1169,1589,125,98,197,77.53,16.53,1.77,1.39,2.79,22.47
155,06073021206,3065,2536,144,529,0,28,357,82.74,4.70,0.00,0.91,11.65,17.26
156,06073021302,7738,3359,3089,4379,946,137,207,43.41,39.92,12.23,1.77,2.68,56.59
157,06073021303,9497,4360,2893,5137,215,1567,462,45.91,30.46,2.26,16.50,4.86,54.09
158,06073021304,2508,1781,470,727,42,86,129,71.01,18.74,1.67,3.43,5.14,28.99

In [129]:
# rename column
result.rename(columns={'GEO.id2': 'GEOID'}, inplace=True)

In [130]:
result.head(2)

,GEOID,Total,White,Latino,POC,Black,Asian,Other_agg,White_e_pct,Latino_e_pct,Black_e_pct,Asian_e_pct,Other_agg_e_pct,POC_e_pct
0,06065043216,6359,3356,1792,3003,417,600,194,52.78,28.18,6.56,9.44,3.05,47.22
1,06065043218,5415,3561,1497,1854,74,211,72,65.76,27.65,1.37,3.90,1.33,34.24

In [131]:
result.to_csv(r'G:\My Drive\Data\Race Eth ACS 2017\Data_Exports\Race_Est_pct_poc.csv')